global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: 'location404'
    environment: 'observability'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'tempo'
    static_configs:
      - targets: ['tempo:3200']

  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']

  - job_name: 'mimir'
    static_configs:
      - targets: ['mimir:9009']

  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:3000']
